.header-main {
    position: fixed;
    background-color: $clr30;
    z-index: 2;

    .header-sub {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        height: 60px;
    }

    .a-logo {
        width: 140px;
        margin-left: 110px;
    }

    .header-nav-logo {
        display: block;
        max-width: 100%;
        height: 70px;
    }

    .header-nav-btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
    }

    .a-login {
        padding: 1rem 1.5rem;
        width: 120px;
        position: absolute;
        right: 500px;
    }

    .a-try {
        background-color: $clr32;
        color: $clr30;
        padding: 1rem 1.5rem;
        width: 200px;
        height: 60px;
        position: absolute;
        margin-left: 450px;

        &:hover {
            background-color: $clr33;
        }
    }

}