.header-main {
    position: fixed;
    background-color: $clr30;
    z-index: 2;

    .header-sub {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: auto;
        height: 60px;
    }

    .a-logo {
        width: 126px;
        margin-left: 290px;
    }

    .header-nav-logo {
        display: block;
        max-width: 100%;
    }

    .header-nav-btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
    }

    .a-login {
        color: $clr31;
        padding: 1rem 1.5rem;
        width: 120px;
        position: absolute;
        right: 480px;
    }

    .a-try {
        background-color: $clr32;
        color: $clr30;
        padding: 1rem 1.5rem;
        width: 210px;
        height: 60px;
        position: absolute;
        margin-left: 450px;

        &:hover {
            background-color: $clr33;
        }
    }

}