.board-header{
    width: 100vw;
    display: flex;

    .board-title{
        font-size: 2em;
        color: $clr6;
    }

    button{
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 0.3em;
    }

    .btn-star{
        font-size: 1.5em;
        padding: 5px;
        height: 34px;

        &:hover{
            color: $clr10;
        }

        &.starred{
            color: $clr10;

            &:hover{
                color: $clr6;
            }
        }
    }

    .btn-filter,.btn-menu{

        &:hover{
            background-color:rgba(255, 255, 255, 0.3) ;
        }
    }

}