.board-details {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    // height: 100vh;
    flex-grow: 1;

    .board-content {
        display: flex;
        padding: 1.5em;

        .btn-open-addGroup {
            background-color: rgba(0, 0, 0, 0.3);
            color: whitesmoke;
            min-width: 270px;
            text-align: start;
            border-radius: 0.2em;
            height: 40px;
            padding-left: 1em;
            display: flex;
            align-items: center;
            gap: 0.5em;
            cursor: pointer;
        }
    }

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-button {
        display: none;
    }

    &::-webkit-scrollbar-track {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 0.5em;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(255, 255, 255, 0.6);
        border-radius: 0.5em;
    }
}