.group-title{
    input{
        background: none;
        border: none;
        width: 100%;
        font-size: 1.3em;
        &:focus{
            background-color: $clr6;
            outline-color: $clr1;
        }
    }
    .grp-action-btn{
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        color: gray;
        font-size: 1.5em;
    }
}