.group-title {
    display: flex;
    width: 100%;
    height: 40px;
    padding-top: 8px;

    input {
        background: none;
        border: none;
        width: 228px;
        height: 28px;
        font-size: 1em;
        padding: 4px 8px;

        &:focus {
            background-color: $clr6;
            outline-color: $clr1;
        }
    }

    .group-action-btn {
        background: none;
        color: gray;
        font-size: 0.9em;
        height: 32px;
        width: 32px;
        padding: 6px;
        margin: 0;
        margin-left: 0.5em;
    }
}