.main-header {
    align-items: center;
    background-color: $clr11;
    border-bottom: 1px solid hsla(0, 0%, 100%, .16);
    color: #fff;
    display: flex;
    font-family: Charlie-regular;
    min-height: 44px;
    position: relative;
    width: 100%;

    .left-container {
        display: flex;
        width: fit-content;
        margin-left: 0.5em;
        gap: 1em;
        align-items: center;

        .logo {
            font-size: 1.1rem;
            font-weight: 700;
            color: white;
            text-decoration: none;
            padding: 0.15em;
            border-radius: 0.15em;

            &:hover {
                background-color: $clr12;
            }
        }

        .btn-recent,
        .btn-starred {
            display: flex;
            align-items: center;
            font-size: 14px;
            height: 32px;
            gap: 0.5em;
            padding: 0.5em;
            cursor: pointer;
            border-radius: 0.3em;

            &:hover {
                background-color: $clr12;
            }
        }

        .btn-create {
            padding: 0.5em;
            height: 32px;
            width: 64px;
            display: flex;
            font-size: 14px;
            align-items: center;
            justify-content: center;
            background-color: $clr12;
            cursor: pointer;
            border-radius: 0.3em;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
            }
        }
    }

    .right-container {
        display: flex;
        gap: 1em;
        justify-content: flex-end;
        align-items: center;
        flex-grow: 1;
        margin-right: 0.5em;
        position: relative;

        .search-container {
            background-color: rgba(255, 255, 255, 0.2);
            height: 32px;
            width: 200px;
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 0.5em;
            padding-left: 0.5em;
            border-radius: 0.3em;
            cursor: pointer;

            &:hover {
                background-color: rgba(255, 255, 255, 0.3);
            }
        }
    }
}