.task-preview{
    text-decoration: none;
    color: inherit; 
    .task-title{
        background-color: $clr6;
        padding: 0.5em;
        border-radius: 0.3em ;
        border: 1px solid lightgray;
        min-height: 30px;
        cursor: pointer;

        &:hover{
            background-color: #f4f4f8;
        }
    }
    

}