.task-preview {
    text-decoration: none;
    color: inherit;
    background-color: aqua;

    .task-title {
        background-color: $clr6;
        border-radius: 0.3em;
        box-shadow: 0 1px 0 rgb(54 54 54 / 25%);
        min-height: 32px;
        height: fit-content;
        overflow-wrap: break-word;
        width: 256px;
        cursor: pointer;
        padding: 4px 8px;
        color: $clr45;

        &:hover {
            background-color: #f4f4f8;
        }

        &.full {
            font-size: 18px;
            font-weight: 700;

            &.img {
                height: 163px;
                background-size: cover;
                display: flex;
                align-items: flex-end;
                color: $clr6;
            }
        }
    }

    .task-list-cover {
        height: 32px;
        border-top-left-radius: 0.3em;
        border-top-right-radius: 0.3em;

        &.img {
            height: 138px;
            background-size: cover;
        }
    }

}