.cover-attachments{
    display: flex;
    flex-direction: column;
    span {
        font-size: 12px;
        color: $clr45;
        font-weight: 700;
        margin-bottom: 12px;
    }

    .btn-upload-attach{
        height: 32px;
        width: 100%;
        margin: 0;
        margin-bottom: 8px;
        background-color: $clr9;
        color: $clr45;
        border-radius: 3px;

        &:hover{
            background-color: darken($clr9, 5) ;
        }
    }
}